body{
	width: 100vw;
	height: 100vh;
	overflow:hidden;
	display:flex;
}

.list-item{
	width: 100%;	
	display: flex !important;
	align-items: center;
	gap: 20px;
	background-color: #0000003b;
	padding: 20px;
	border-radius: 10px;
}

.pin{
	flex-direction: row !important;
	background-color: #0000009b;
	backdrop-filter: blur(5px);
	height: 350px;
	padding: 0 50px;
	transition: 1s ;
	border-radius: 20px;
	align-items: center;
	position: sticky;
	top: 30px;
	left: 0;
}

#list .list-item * {
	pointer-events: none;
}

#list{
	margin-top: 300px;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
}

#list .list-item{
	border-bottom: 4px solid rgba(128, 128, 128, 0.596);
}




#nav video{
	width: 800px;
	height: 450px;
	transition:.5s ;
}



.pin .title{
	display: flex;
	align-items: flex-start;
	gap: 10px;
	flex-direction: column;
	
}

.pin .input{
	margin-block-start: 4px;
}

.pin video {
	width:300px;
	height: 150px; 
	margin-bottom: 0;
	
}

.pin .wrapper {
	margin-left: 50px;
}

.pin h2 {
	font-size: 24px;
}

.pin p {
	font-size: 14px;
}

.pin #play-btn, #next-btn, #prev-btn{
	font-size: 28px;
	width: 55px;
	height: 55px;
}




.background{
	position: absolute;
	width:100%;
	height:100%;
	background:url(https://lh4.googleusercontent.com/proxy/gdKMsKqzMFQ1xEVJf9lNNfL7pw_HG3DaHZij1yJPHGPLQYzY_FXqVrSsC0Q2VK49HPML25NGCls545UIGYmTs6y11TAXtLcKAv_HmKA=w3840-h2160-p-k-no-nd-mv);
	background-position:center center;
	background-size:cover;
	animation: zoom 30s infinite alternate;
	animation-timing-function: linear;
	filter: blur(2px);
}



@keyframes zoom {
  from {
	transform:scale(1.01)
  }

  to {
	transform:scale(1.50)
  }
}




